In [1]:
import tabula
import pandas as pd
from tabula import read_pdf
import os
import re
#import pyPdf
#import spacy

In [12]:
# Creating a dictionary with keys as bank names and assigning indexes to each column
Bank_statement_features = {
    'HDFC': 
    {
        'Date': 0,           
        'Narration': 1,    
        'Chq.': 2,
        'Value Dt': 3,
        'Withdrawal Amt.': 4,     
        'Deposit Amt.': 5,        
        'Closing Balance': 6,        
   },
   'ICICI':
   {
       'Date':0,
       'Particulars':1,
       'Chq.No.':2,
       'Withdrawals':3,
       'Deposits':4,
       'Auto Sweep':5,
       'Reverse Sweep':6,
       'Balance(INR)':7,
   },#can further add features according to "bank name as keys" of the dictionary
}

In [18]:
# Using Tabula(an open source library) to extract tables from a pdf with much accuracy
# here using tabula-py(Python wrapper of tabula)
#setting the values of various parameters 
filepath = 'C:\\Users\\Lenovo\\Downloads\\ICICI_Bank_Statement_New.pdf'
rows_list = tabula.read_pdf(filepath,pages='all',silent=True,stream=False,lattice=True,multiple_tables=True,
                            area = (320.0,9.0,743.81,601.11),encoding='utf-8')
                            #area refers to the Portion of the page to analyze(top,left,bottom,right).
                            # calulated using tabula script exporter
                                
                            #pandas_options={'header': None,'error_bad_lines': False,'warn_bad_lines': False}
                            #pandas_options not needed when multiple_tabels=True

In [16]:
rows_list[0]

,Date,Particulars,Chq.No.,Withdrawals,Deposits,Autosweep,Reverse\rSweep,Balance(INR)
0,01-07-2019,B/F,NaN,NaN,NaN,NaN,NaN,"16,674.45 Cr"
1,01-07-2019,BY CASH - BIJOLIA,NaN,0.00,"2,000.00",NaN,NaN,"18,674.45 Cr"
2,02-07-2019,BIL/INFT/001743804629/NA/,NaN,0.00,"3,740.00",NaN,NaN,"22,414.45 Cr"
3,02-07-2019,MMT/IMPS/918317526479/vidrc/MKELECTRON/BANK OF...,NaN,0.00,"3,000.00",NaN,NaN,"25,414.45 Cr"
4,03-07-2019,BY CASH-KACHHOLA,NaN,0.00,"3,000.00",NaN,NaN,"28,414.45 Cr"
5,03-07-2019,MMT/IMPS/918418038560/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.00,"14,000.00",NaN,NaN,"42,414.45 Cr"
6,05-07-2019,CLG/COSMOS ENTERPRISES /BRK,5181.0,"40,000.00",0.00,NaN,NaN,"2,414.45 Cr"
7,06-07-2019,MMT/IMPS/918710930334/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.00,"5,000.00",NaN,NaN,"7,414.45 Cr"
8,08-07-2019,MMT/IMPS/918814106619/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.00,"5,000.00",NaN,NaN,"12,414.45 Cr"
9,08-07-2019,BIL/INFT/001748219433/NA/,NaN,0.00,"2,150.00",NaN,NaN,"14,564.45 Cr"
10,08-07-2019,UPI/918911468469/UPI/nandkishormali4/State Ban...,NaN,0.00,"3,000.00",NaN,NaN,"17,564.45 Cr"
11,09-07-2019,UPI/919006529705/Palak2vd2h/urmilarankaasin/Paytm,NaN,0.00,"2,000.00",NaN,NaN,"19,564.45 Cr"
12,09-07-2019,UPI/919036840608/NA/9602426732@payt/Bank of Ba...,NaN,0.00,"2,000.00",NaN,NaN,"21,564.45 Cr"
13,09-07-2019,MMT/IMPS/919014033158/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.00,"5,000.00",NaN,NaN,"26,564.45 Cr"
14,11-07-2019,MMT/IMPS/919212840990/vidrc/MKELECTRON/BANK OF...,NaN,0.00,"3,000.00",NaN,NaN,"29,564.45 Cr"
15,11-07-2019,CLG/CODMOD ENTERPRISES/BRK,5182.0,"20,000.00",0.00,NaN,NaN,"9,564.45 Cr"
16,11-07-2019,UPI/919242812430/Payment from Ph/9828846558@yb...,NaN,0.00,"1,520.00",NaN,NaN,"11,084.45 Cr"
17,12-07-2019,UPI/919322122791/Payment from Ph/9351997650@yb...,NaN,0.00,"1,950.00",NaN,NaN,"13,034.45 Cr"
18,15-07-2019,BIL/INFT/001752493955/NA/,NaN,0.00,"1,520.00",NaN,NaN,"14,554.45 Cr"
19,15-07-2019,MMT/IMPS/919414649494/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.00,"10,000.00",NaN,NaN,"24,554.45 Cr"
20,15-07-2019,BY CASH - GULABPURA BAWRI CHOURAHA,NaN,0.00,"5,000.00",NaN,NaN,"29,554.45 Cr"
21,15-07-2019,BIL/INFT/001754025469/MIB-/,NaN,0.00,"1,800.00",NaN,NaN,"31,354.45 Cr"
22,16-07-2019,BY CASH - GULABPURA BAWRI CHOURAHA,NaN,0.00,"3,000.00",NaN,NaN,"34,354.45 Cr"
23,17-07-2019,CLG/COSMOS ENTERPRISES/BRK,5183.0,"25,000.00",0.00,NaN,NaN,"9,354.45 Cr"
24,18-07-2019,BIL/INFT/001755789313/MIB-/,NaN,0.00,"2,000.00",NaN,NaN,"11,354.45 Cr"
25,18-07-2019,MMT/IMPS/919922724515/vidicon/MONUVAISHN/BANK ...,NaN,0.00,"10,000.00",NaN,NaN,"21,354.45 Cr"
26,20-07-2019,MMT/IMPS/920111689183/sisodiyakarera/GOPALSING...,NaN,0.00,"1,370.00",NaN,NaN,"22,724.45 Cr"
27,20-07-2019,UPI/920115721877/UPI/jaina8645@oksbi/State Ban...,NaN,0.00,"3,000.00",NaN,NaN,"25,724.45 Cr"
28,22-07-2019,MMT/IMPS/920312994555/vidrc/MKELECTRON/BANK OF...,NaN,0.00,"3,000.00",NaN,NaN,"28,724.45 Cr"
29,22-07-2019,MMT/IMPS/920313790639/d2h/HANSHRAJSO/BANK OF\r...,NaN,0.00,"5,000.00",NaN,NaN,"33,724.45 Cr"
30,23-07-2019,BIL/INFT/001758812148/NA/,NaN,0.00,"3,040.00",NaN,NaN,"36,764.45 Cr"
31,23-07-2019,MMT/IMPS/920412416551/vidicon/MONUVAISHN/BANK ...,NaN,0.00,"10,000.00",NaN,NaN,"46,764.45 Cr"
32,23-07-2019,MMT/IMPS/920417396415/MB: PCS/SHRAWAN KU/KOTAK...,NaN,0.00,"2,500.00",NaN,NaN,"49,264.45 Cr"
33,24-07-2019,CLG/COSMOS ENTERPRISES /BRK,5184.0,"30,000.00",0.00,NaN,NaN,"19,264.45 Cr"
34,25-07-2019,BY CASH-KACHHOLA,NaN,0.00,"3,050.00",NaN,NaN,"22,314.45 Cr"

In [23]:
#same code when all the pages are need to be covered
aux_list = tabula.read_pdf(filepath, 
                     guess=False, pages='all', stream=False ,silent=True ,encoding="utf-8",multiple_tables=True,)   
                     #columns = (65.3,196.86,294.96,351.81,388.21,429.77))


# aux_df = pd.DataFrame(aux_list,
#                       columns = ['Date','Particulars','Chq.No.','Withdrawals','Deposits',
#                                  'Auto Sweep','Reverse Sweep','Balance(INR)','Credit','Debit'])

In [27]:
aux_list

[                                           Unnamed: 0  \
 0            [IVW_306017_10.83.32.120_20190806145520]
 1                         ATULKABRAA@GMAIL.COM 311001
 2                               Your Details With Us:
 3                              M/S.COSMOS ENTERPRISES
 4             CO ATUL ELECTRONICS OPP THE BANK OF RAJ
 ..                                                ...
 58                        25-07-2019 BY CASH-KACHHOLA
 59  26-07-2019 UPI/920714508104/UPI/nandkishormali...
 60  Category of service: Banking & Financial Servi...
 61  REGD ADDRESS: ICICI BANK TOWER, NEAR CHAKLI CI...
 62  This is an authenticated intimation/statement....

                    Page 1 of 2
 0                          NaN
 1                          NaN
 2                          NaN
 3                          NaN
 4                          NaN
 ..                         ...
 58  0.00 3,050.00 22,314.45 Cr
 59  0.00 2,000.00 24,314.45 Cr
 60                         NaN
 61                         NaN
 62                         NaN

 [63 rows x 2 columns],
     29-07-2019 UPI/921024499579/Payment from Ph/gopalsoni88@ybl/H  \
 0   31-07-2019  MMT/IMPS/921211070844/MB: PCS NAYAK/SHRAWAN\rK...
 1  Page Total:                                        1,15,000.00

     Unnamed: 0  0.00  2,000.00    Unnamed: 1  Unnamed: 2  26,314.45 Cr
 0          NaN   0.0  1,000.00           NaN         NaN  27,314.45 Cr
 1  1,25,640.00   0.0      0.00  27,314.45 Cr         NaN           NaN  ,
   Legends for transactions in your account statement  \
 0  VAT/MAT/NFS - Cash withdrawal at other Bank AT...

                                           Unnamed: 0
 0  INF - Internet fund transfer in linked account...  ,
 Empty DataFrame
 Columns: [Category of service: Banking & Financial Services. Registration No.MIV/ST/Bank & Finc/4.]
 Index: []]

In [ ]:
################ convert pdf to images ########################

from pdf2image import convert_from_path
import os

def pdf_to_images(pdf, filename):
    pdf = pdf.replace('\\', '\\\\')
    # print(pdf)
    images = convert_from_path(pdf)
    for i in range(len(images)):
        images[i].save('C:/matsya/images_apr_24/{}_page{}'.format(filename, i) +'.jpg', 'JPEG')

path = "C:\\matsya\\Apr-24"

#store all the file names in this list
filelist = []

for root, dirs, files in os.walk(path):
	for file in files:
        #append the file name to the list
		filelist.append(os.path.join(root,file))


# print all the file names
for file in filelist:
    filename = os.path.split(file)[-1].split('.pdf')[0]
    if ' ' in filename:
        filename = filename.replace(' ', '_')
    # print(filename)
    try:
        pdf_to_images(file, filename)  
    except:
         pass