In [1]:
import pandas as pd

In [ ]:
data = pd.read_excel('C:\sample_invoice_output\matsya\sepandoct_complete_final_invoices.xlsx')
data['Start Date'] = pd.to_datetime(data['Start Date'])
data['End Date'] = pd.to_datetime(data['End Date'])
data['Invoice Date'] = pd.to_datetime(data['Invoice Date'])
data

In [38]:
self_merged_data = pd.merge(data, data, on=['Traveler Name', 'Source City', 'Source Country', 'Destination City', 'Destination Country', 'Supplier Name'])
self_merged_data
self_merged_data.to_excel('self_merged_data3.xlsx')

In [ ]:
clean_self_merged = pd.DataFrame(columns=self_merged_data.columns)

index1 = 0
combs = []
for index, row in self_merged_data.iterrows():
   
#    modified_df = modified_df.append(row, ignore_index=True)
   filename_x = row['Filename_x']
   filename_y = row['Filename_y']
   
   if filename_x == filename_y:
      clean_self_merged = clean_self_merged.append(row)
      # print(row)
   else:
      if (filename_x, filename_y) not in combs and (filename_y, filename_x) not in combs:
         clean_self_merged = clean_self_merged.append(row)
      combs.append((filename_x, filename_y))
    
      
clean_self_merged
# merged_data_dup.to_excel('merged_data_dup2.xlsx')

In [15]:
clean_self_merged[clean_self_merged['Filename_x'] == 'DS_752']

,Filename_x,Invoice Date_x,Traveler Name,Start Date_x,End Date_x,Source City,Source Country,Destination City,Destination Country,Supplier Name,Filename_y,Invoice Date_y,Start Date_y,End Date_y
58,DS_752,05-10-2023,MR SOURABH THAKAR,2023-10-19,2023-10-19,Bangalore,IN,New Delhi,IN,MATSYA TRAVEL SERVICES PVT. LTD.,DS_752,05-10-2023,2023-10-19,2023-10-19

In [ ]:
clean_self_merged
# clean_self_merged.to_excel('clean_self_merged.xlsx')

In [46]:
grouped = clean_self_merged.groupby(['Filename_x', 'Traveler Name', 'Source City', 'Destination City'])['Invoice Date_y'].max()
# grouped.to_excel('grouped.xlsx')
grouped

Filename_x  Traveler Name           Source City  Destination City
DS_11       MR SOURABH THAKAR       Bangalore    New Delhi          2023-05-10
                                    New Delhi    Bangalore          2023-10-01
DS_110      MS KIRTANA VIRK         Mumbai       New Delhi          2023-04-24
                                    New Delhi    Mumbai             2023-04-24
DS_115      MR SANJIT BHATTACHARYA  New Delhi    Pune               2023-04-25
                                                                       ...
is_762      MR RITHIK               Ad Dammam    Colombo            2023-06-30
                                    Colombo      Ad Dammam          2023-06-30
                                                 Trivandrum         2023-06-30
                                    Trivandrum   Colombo            2023-06-30
is_763      MR ANURAG AGAR          Dubai        New Delhi          2023-06-30
Name: Invoice Date_y, Length: 1625, dtype: datetime64[ns]

In [ ]:
new_df = pd.DataFrame(columns=clean_self_merged.columns)
for i, j in list(zip(grouped.index, grouped.values)):
    res = clean_self_merged[(clean_self_merged['Filename_x'] == i[0]) & (clean_self_merged['Traveler Name'] == i[1]) & (clean_self_merged['Source City'] == i[2]) & (clean_self_merged['Destination City'] == i[3]) & (clean_self_merged['Invoice Date_y'] == j)]
    new_df = new_df.append(res)
    # print(res)
new_df

In [52]:
new_df.to_excel('final_new_df.xlsx')