In [1]:
import pandas as pd

In [35]:
df = pd.read_excel('C:\sample_invoice_output\matsya\Vehicle Asset Energy Consumption (1).xlsx')

In [36]:
df

,Asset Name,Vehicle ID,Start Date,End Date,Fuel Type,Fuel consumption,KwH consumption,Fuel Consumption Unit,Fuel Type,Distance Travelled\n,Distance Unit,Supplier
0,Leasecar,G047XK,2019-12-28,2023-12-31,Volledig Elektrisch,0.0,17110.0,NaN,NaN,71149.0,Kilometers,Leaseplan
1,Leasecar,G097VK,2019-12-30,2023-12-31,Volledig Elektrisch,0.0,20189.1,NaN,NaN,93274.0,Kilometers,Leaseplan
2,Leasecar,G111RN,2019-12-06,2023-12-31,Volledig Elektrisch,0.0,18604.4,NaN,NaN,84735.0,Kilometers,Leaseplan
3,Leasecar,G127VF,2023-08-15,2023-12-31,Volledig Elektrisch,0.0,1667.3,NaN,NaN,10712.0,Kilometers,Leaseplan
4,Leasecar,G130NT,2019-11-11,2023-12-31,Volledig Elektrisch,0.0,14884.3,NaN,NaN,67724.0,Kilometers,Leaseplan
...,...,...,...,...,...,...,...,...,...,...,...,...
90,Leasecar,ZR941P,2019-07-23,2023-12-31,Volledig Elektrisch,0.0,15102.6,NaN,NaN,99849.0,Kilometers,Leaseplan
91,Leasecar,ZV798D,2021-07-01,2023-12-31,Benzine,3563.8,0.0,Liters,Gasoline,57025.0,Kilometers,Leaseplan
92,NaN,NaN,NaT,NaT,NaN,NaN,125020.0,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaT,NaT,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN

In [37]:
from datetime import datetime

def months_between_dates(start_date, end_date):
    months = (end_date.year - start_date.year) * 12 + end_date.month - start_date.month
    print('months---> ', months)
    return months

In [39]:
df['Number of Months'] = 0

In [40]:
for i in range(len(df)):
    df['Number of Months'].iloc[i] = months_between_dates(df['Start Date'].iloc[i], df['End Date'].iloc[i])
    # print(df['Start Date'].iloc[i])

months--->  48
months--->  48
months--->  48
months--->  4
months--->  49
months--->  12
months--->  49
months--->  46
months--->  48
months--->  50
months--->  48
months--->  9
months--->  49
months--->  49
months--->  31
months--->  48
months--->  11
months--->  51
months--->  51
months--->  51
months--->  46
months--->  48
months--->  51
months--->  25
months--->  25
months--->  10
months--->  51
months--->  45
months--->  51
months--->  15
months--->  23
months--->  43
months--->  48
months--->  21
months--->  46
months--->  27
months--->  48
months--->  38
months--->  18
months--->  34
months--->  36
months--->  23
months--->  23
months--->  12
months--->  36
months--->  25
months--->  35
months--->  14
months--->  32
months--->  20
months--->  28
months--->  30
months--->  7
months--->  25
months--->  22
months--->  26
months--->  27
months--->  23
months--->  4
months--->  13
months--->  13
months--->  16
months--->  7
months--->  7
months--->  11
months--->  9
months--->  66
months--->  5
months--->  4
months--->  3
months--->  4
months--->  6
months--->  14
months--->  1
months--->  1
months--->  2
months--->  58
months--->  57
months--->  57
months--->  27
months--->  54
months--->  54
months--->  54
months--->  54
months--->  54
months--->  54
months--->  54
months--->  54
months--->  54
months--->  54
months--->  53
months--->  29
months--->  nan
months--->  nan
months--->  nan

C:\Users\Lenovo\AppData\Local\Temp/ipykernel_18640/702283262.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Number of Months'].iloc[i] = months_between_dates(df['Start Date'].iloc[i], df['End Date'].iloc[i])

In [41]:
df

,Asset Name,Vehicle ID,Start Date,End Date,Fuel Type,Fuel consumption,KwH consumption,Fuel Consumption Unit,Fuel Type,Distance Travelled\n,Distance Unit,Supplier,Number of Months
0,Leasecar,G047XK,2019-12-28,2023-12-31,Volledig Elektrisch,0.0,17110.0,NaN,NaN,71149.0,Kilometers,Leaseplan,48.0
1,Leasecar,G097VK,2019-12-30,2023-12-31,Volledig Elektrisch,0.0,20189.1,NaN,NaN,93274.0,Kilometers,Leaseplan,48.0
2,Leasecar,G111RN,2019-12-06,2023-12-31,Volledig Elektrisch,0.0,18604.4,NaN,NaN,84735.0,Kilometers,Leaseplan,48.0
3,Leasecar,G127VF,2023-08-15,2023-12-31,Volledig Elektrisch,0.0,1667.3,NaN,NaN,10712.0,Kilometers,Leaseplan,4.0
4,Leasecar,G130NT,2019-11-11,2023-12-31,Volledig Elektrisch,0.0,14884.3,NaN,NaN,67724.0,Kilometers,Leaseplan,49.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Leasecar,ZR941P,2019-07-23,2023-12-31,Volledig Elektrisch,0.0,15102.6,NaN,NaN,99849.0,Kilometers,Leaseplan,53.0
91,Leasecar,ZV798D,2021-07-01,2023-12-31,Benzine,3563.8,0.0,Liters,Gasoline,57025.0,Kilometers,Leaseplan,29.0
92,NaN,NaN,NaT,NaT,NaN,NaN,125020.0,NaN,NaN,NaN,NaN,NaN,NaN
93,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaT,NaT,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [42]:
df['Fuel consumption for 2023'] = 0
df['KwH consumption for 2023'] = 0

In [44]:
for i in range(len(df)):
    if df['Number of Months'].iloc[i] > 12:
        df['Fuel consumption for 2023'].iloc[i] = (df['Fuel consumption'].iloc[i]/df['Number of Months'].iloc[i])*12
        df['KwH consumption for 2023'].iloc[i] = (df['KwH consumption'].iloc[i]/df['Number of Months'].iloc[i])*12
    else:
        df['Fuel consumption for 2023'].iloc[i] = df['Fuel consumption'].iloc[i]
        df['KwH consumption for 2023'].iloc[i] = df['KwH consumption'].iloc[i]

C:\Users\Lenovo\AppData\Local\Temp/ipykernel_18640/3854579593.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fuel consumption for 2023'].iloc[i] = (df['Fuel consumption'].iloc[i]/df['Number of Months'].iloc[i])*12
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_18640/3854579593.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['KwH consumption for 2023'].iloc[i] = (df['KwH consumption'].iloc[i]/df['Number of Months'].iloc[i])*12
C:\Users\Lenovo\AppData\Local\Temp/ipykernel_18640/3854579593.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Fuel consumption for 2023'].iloc[i] = df['Fuel consumption'].iloc[i]

In [45]:
df

,Asset Name,Vehicle ID,Start Date,End Date,Fuel Type,Fuel consumption,KwH consumption,Fuel Consumption Unit,Fuel Type,Distance Travelled\n,Distance Unit,Supplier,Number of Months,Fuel consumption for 2023,KwH consumption for 2023
0,Leasecar,G047XK,2019-12-28,2023-12-31,Volledig Elektrisch,0.0,17110.0,NaN,NaN,71149.0,Kilometers,Leaseplan,48.0,0.000000,4277.500000
1,Leasecar,G097VK,2019-12-30,2023-12-31,Volledig Elektrisch,0.0,20189.1,NaN,NaN,93274.0,Kilometers,Leaseplan,48.0,0.000000,5047.275000
2,Leasecar,G111RN,2019-12-06,2023-12-31,Volledig Elektrisch,0.0,18604.4,NaN,NaN,84735.0,Kilometers,Leaseplan,48.0,0.000000,4651.100000
3,Leasecar,G127VF,2023-08-15,2023-12-31,Volledig Elektrisch,0.0,1667.3,NaN,NaN,10712.0,Kilometers,Leaseplan,4.0,0.000000,1667.300000
4,Leasecar,G130NT,2019-11-11,2023-12-31,Volledig Elektrisch,0.0,14884.3,NaN,NaN,67724.0,Kilometers,Leaseplan,49.0,0.000000,3645.134694
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90,Leasecar,ZR941P,2019-07-23,2023-12-31,Volledig Elektrisch,0.0,15102.6,NaN,NaN,99849.0,Kilometers,Leaseplan,53.0,0.000000,3419.456604
91,Leasecar,ZV798D,2021-07-01,2023-12-31,Benzine,3563.8,0.0,Liters,Gasoline,57025.0,Kilometers,Leaseplan,29.0,1474.675862,0.000000
92,NaN,NaN,NaT,NaT,NaN,NaN,125020.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125020.000000
93,NaN,NaN,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
94,NaN,NaN,NaT,NaT,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN

In [47]:
df.to_excel('Vehicle Asset Energy Consumption (1) updated.xlsx')